.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #f4f4f47a;
  }
  
  .cards {
    background: white;
    padding: 20px 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .heading {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .card {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background: #fff;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049; 
  }

  